{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

{% capture avatar_sources %}{% if author.avatar_options %}{% for avatar_option in author.avatar_options %}{% if forloop.index0 > 0 %}|{% endif %}{% if avatar_option contains "://" %}{{ avatar_option }}{% else %}{{ avatar_option | prepend: "/images/" | prepend: base_path }}{% endif %}{% endfor %}{% endif %}{% endcapture %}
{% capture avatar_url %}{% if author.avatar contains "://" %}{{ author.avatar }}{% else %}{{ author.avatar | prepend: "/images/" | prepend: base_path }}{% endif %}{% endcapture %}
{% capture author_intro %}
  {% include i18n-text.html en=author.name zh=author.name_zh wrapper_tag="h3" class="author__name" display="block" %}
  {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
  {% if author.slogan %}<p class="author__slogan">{% include i18n-text.html en=author.slogan zh=author.slogan_zh %}</p>{% elsif author.bio %}<p class="author__slogan">{{ author.bio }}</p>{% endif %}
{% endcapture %}
{% capture author_links %}
  {% if author.location %}
    <li class="author__desktop">
      {% if author.location_url %}
        <a class="author__meta-link" href="{{ author.location_url }}" target="_blank" rel="noopener">
          <i class="fa-solid fa-location-dot fa-fw icon-pad-right author__meta-icon" aria-hidden="true"></i>
          <span class="author__urls-label">{% include i18n-text.html en=author.location zh=author.location_zh %}</span>
        </a>
      {% else %}
        <span class="author__meta-link">
          <i class="fa-solid fa-location-dot fa-fw icon-pad-right author__meta-icon" aria-hidden="true"></i>
          <span class="author__urls-label">{% include i18n-text.html en=author.location zh=author.location_zh %}</span>
        </span>
      {% endif %}
    </li>
  {% endif %}
  {% if author.employer %}
    <li class="author__desktop">
      {% if author.employer_url %}
        <a class="author__meta-link" href="{{ author.employer_url }}" target="_blank" rel="noopener">
          <i class="fa-solid fa-building-columns fa-fw icon-pad-right author__meta-icon" aria-hidden="true"></i>
          <span class="author__urls-label">{% include i18n-text.html en=author.employer zh=author.employer_zh %}</span>
        </a>
      {% else %}
        <span class="author__meta-link">
          <i class="fa-solid fa-building-columns fa-fw icon-pad-right author__meta-icon" aria-hidden="true"></i>
          <span class="author__urls-label">{% include i18n-text.html en=author.employer zh=author.employer_zh %}</span>
        </span>
      {% endif %}
    </li>
  {% endif %}
  {% for profile_link in site.data.author_profile_links %}
    {% assign profile_value = author[profile_link.key] %}
    {% if profile_value %}
      {% assign profile_href = profile_link.href | replace: "{value}", profile_value %}
      {% assign profile_label_zh = profile_link.label_zh | default: profile_link.label_en %}
      <li{% if profile_link.item_class %} class="{{ profile_link.item_class }}"{% endif %}><a href="{{ profile_href }}" aria-label="{{ profile_link.label_en }}" data-i18n-aria-label-en="{{ profile_link.label_en }}" data-i18n-aria-label-zh="{{ profile_label_zh }}"><i class="{{ profile_link.icon }} icon-pad-right author__meta-icon" aria-hidden="true"></i><span class="author__urls-label">{% include i18n-text.html en=profile_link.label_en zh=profile_label_zh %}</span></a></li>
    {% endif %}
  {% endfor %}
{% endcapture %}
{% capture author_compact_links %}
  {% for profile_link in site.data.author_profile_links %}
    {% if profile_link.compact %}
      {% assign profile_value = author[profile_link.key] %}
      {% if profile_value %}
        {% assign profile_href = profile_link.href | replace: "{value}", profile_value %}
        {% assign profile_label_zh = profile_link.label_zh | default: profile_link.label_en %}
        <li><a href="{{ profile_href }}" aria-label="{{ profile_link.label_en }}" data-i18n-aria-label-en="{{ profile_link.label_en }}" data-i18n-aria-label-zh="{{ profile_label_zh }}"><i class="{{ profile_link.icon }} author__meta-icon" aria-hidden="true"></i></a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endcapture %}

<div itemscope itemtype="http://schema.org/Person">
  <div class="author-profile-card author-profile-card--desktop">
    <div class="author__avatar">
      <img src="{{ avatar_url | strip }}" class="author__avatar-image js-random-avatar" alt="{{ author.name }}" decoding="async" fetchpriority="high" {% if avatar_sources != "" %}data-avatars="{{ avatar_sources }}"{% endif %}>
    </div>

    <div class="author__content">
      {{ author_intro }}
    </div>

    <div class="author__urls-wrapper">
      <ul class="author__compact-links social-icons">
        {{ author_compact_links }}
      </ul>
      <ul class="author__urls social-icons">
        {{ author_links }}
      </ul>
    </div>
  </div>
</div>
