{% include base_path %}

<div class="page__footer-shell">
  <div class="page__footer-topline page__footer-topline--controls-only">
    {% include display-preferences.html %}
  </div>
  <div class="page__footer-copyright">
    <span class="page__footer-owner">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</span>
    <span class="page__footer-lastmod">
      {% include i18n-text.html en="Last updated" zh="最近更新" %}
      <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y-%m-%d' }}</time>.
    </span>
  </div>
</div>
