{% include base_path %}

{% assign pagination_reverse_chronological = false %}
{% if include.reverse_chronological %}
  {% assign pagination_reverse_chronological = true %}
{% elsif page.collection == 'plogs' or page.collection == 'projects' or page.collection == 'publications' %}
  {% assign pagination_reverse_chronological = true %}
{% endif %}

{% assign pagination_previous_page = page.previous %}
{% assign pagination_next_page = page.next %}
{% if pagination_reverse_chronological %}
  {% assign pagination_previous_page = page.next %}
  {% assign pagination_next_page = page.previous %}
{% endif %}

{% if page.previous or page.next %}
  {% assign pagination_previous_label = site.data.ui-text[site.locale].pagination_previous | default: "Previous" %}
  {% assign pagination_next_label = site.data.ui-text[site.locale].pagination_next | default: "Next" %}
  <nav class="pagination" aria-label="Page navigation">
    <div class="pagination__pager-group">
      {% if pagination_previous_page %}
        <a href="{{ base_path }}{{ pagination_previous_page.url }}" class="pagination--pager pagination--pager-previous" title="{{ pagination_previous_page.title | markdownify | strip_html }}" aria-label="{{ pagination_previous_label }}">
          <span aria-hidden="true">&lt;&lt;</span>
          <span class="sr-only">{{ pagination_previous_label }}</span>
        </a>
      {% else %}
        <span class="pagination--pager pagination--pager-previous disabled" aria-hidden="true">
          <span aria-hidden="true">&lt;&lt;</span>
          <span class="sr-only">{{ pagination_previous_label }}</span>
        </span>
      {% endif %}
      {% if pagination_next_page %}
        <a href="{{ base_path }}{{ pagination_next_page.url }}" class="pagination--pager pagination--pager-next" title="{{ pagination_next_page.title | markdownify | strip_html }}" aria-label="{{ pagination_next_label }}">
          <span aria-hidden="true">&gt;&gt;</span>
          <span class="sr-only">{{ pagination_next_label }}</span>
        </a>
      {% else %}
        <span class="pagination--pager pagination--pager-next disabled" aria-hidden="true">
          <span aria-hidden="true">&gt;&gt;</span>
          <span class="sr-only">{{ pagination_next_label }}</span>
        </span>
      {% endif %}
    </div>
  </nav>
{% endif %}
