{% include base_path %}

{% assign pagination_previous_page = page.previous %}
{% assign pagination_next_page = page.next %}
{% if include.reverse_chronological %}
  {% assign pagination_previous_page = page.next %}
  {% assign pagination_next_page = page.previous %}
{% endif %}

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if pagination_previous_page %}
      <a href="{{ base_path }}{{ pagination_previous_page.url }}" class="pagination--pager" title="{{ pagination_previous_page.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if pagination_next_page %}
      <a href="{{ base_path }}{{ pagination_next_page.url }}" class="pagination--pager" title="{{ pagination_next_page.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
