<script src="{{ base_path }}/assets/js/main.min.js?v={{ site.time | date: '%s' }}" defer></script>
<script src="{{ base_path }}/assets/js/nav-layout.js?v={{ site.time | date: '%s' }}" defer></script>
<script src="{{ base_path }}/assets/js/theme-toggle.js?v={{ site.time | date: '%s' }}" defer></script>
<script src="{{ base_path }}/assets/js/language-toggle.js?v={{ site.time | date: '%s' }}" defer></script>
<script src="{{ base_path }}/assets/js/font-preview.js?v={{ site.time | date: '%s' }}" defer></script>
<script src="{{ base_path }}/assets/js/profile-avatar.js?v={{ site.time | date: '%s' }}" defer></script>
<script src="{{ base_path }}/assets/js/lazy-media.js?v={{ site.time | date: '%s' }}" defer></script>
<script src="{{ base_path }}/assets/js/copy-link.js?v={{ site.time | date: '%s' }}" defer></script>
<script src="{{ base_path }}/assets/js/plogs-navigation.js?v={{ site.time | date: '%s' }}" defer></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
