<script src="{{ base_path }}/assets/js/main.min.js" defer></script>
<script src="{{ base_path }}/assets/js/nav-layout.js" defer></script>
<script src="{{ base_path }}/assets/js/theme-toggle.js" defer></script>
<script src="{{ base_path }}/assets/js/language-toggle.js" defer></script>
<script src="{{ base_path }}/assets/js/font-preview.js" defer></script>
<script src="{{ base_path }}/assets/js/profile-avatar.js" defer></script>
<script src="{{ base_path }}/assets/js/lazy-media.js" defer></script>
<script src="{{ base_path }}/assets/js/copy-link.js" defer></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
